@tailwind base;
@tailwind components;
@tailwind utilities;

/* Neue Montreal Font Family */
@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal-Light.woff2') format('woff2'),
       url('/fonts/NeueMontreal-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/fonts/NeueMontreal-Book.woff2') format('woff2'),
       url('/fonts/NeueMontreal-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* PP Formula Font Family */
@font-face {
  font-family: 'PP Formula';
  src: url('/fonts/PPFormula-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Formula';
  src: url('/fonts/PPFormula-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Formula';
  src: url('/fonts/PPFormula-RegularItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Formula';
  src: url('/fonts/PPFormula-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Formula';
  src: url('/fonts/PPFormula-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Formula';
  src: url('/fonts/PPFormula-Extrabold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Formula';
  src: url('/fonts/PPFormula-ExtraboldItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

body {
  background-color: black;
}